.header {
  width: 100%;
  height: 70px;
  background: #3D3D3D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 999;
}


.header-left img {
  height: 45px;
}

.header-nav {
  display: flex;
  gap: 25px;
}

.header-nav a {
  color: #ffffff;
}


.header-nav a:hover {
  color: #86C561;
}


.header-right .header-login {
  padding: 8px 18px;
  background: #3CB3AB;
  color: #ffffff;
  border-radius: 6px;
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

.header-right .header-login:hover {
  background: #86C561;
}

.header-nav {
  display: flex;
  gap: 25px;
  background: transparent;
}
